{{ define "main" }}

<main>
	<div class="info__post">
		{{ .Content }}
		<ul>
				<li>
					<h2>
						<a href="mailto:{{.Params.contact_info.email}}">Email: {{ .Params.contact_info.email }}</a>
					</h2>
				</li>
				<li>
					<h2>
						<a href="https://twitter.com/{{.Params.contact_info.twitter_handle}}">
							Twitter: @{{.Params.contact_info.twitter_handle}}
						</a>
					</h2>
				</li>
				<li>
					<h2>
						<a href="https://facebook.com/{{.Params.contact_info.facebook_handle}}">
							Facebook: @{{.Params.contact_info.facebook_handle}}
						</a>
					</h2>
				</li>
				<li>
					<h2>
						<a href="https://youtube.com/{{.Params.contact_info.youtube_handle}}">
							YouTube: @{{.Params.contact_info.youtube_handle}}
						</a>
					</h2>
				</li>
			
			</ul>
	</div>
</main>

{{ end }}
